.notification {
  background: lightgray;
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-error {
  color: red;
  border-color: red;
}

.notification-success {
  color: green;
  border-color: green;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px solid;
  margin-bottom: 5px;
}

.navigation {
  display: flex;
  flex-direction: row;
  background: #eee;
  padding: 0.5rem;
}

.navigation > * + * {
  margin-left: 1rem;
}

.navigation > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation > ul > * + * {
  margin-left: 1rem;
}
